html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header, footer, main, nav {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Volkhov, serif;
  margin-bottom: 5px;
}

p, a, li, footer {
  font-family: Work Sans, serif;
}

p {
  margin-top: 5px;
}

footer {
  margin-top: 40px;
}